<div class="container-fluid customHeader">
  <nav class="header">
    <ul>
      <li>
        <img src="../../assets//guitar/guitarIcon.png" width="40px" alt=""></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['']">Home</a></li>
      <li routerLinkActive="active"><a [routerLink]="['students']">Students</a></li>

    </ul>
    <ul>
      <li>
        <a class="authentication" (click)="onOpenModal()">Sign in</a>
      <li>
        <a class="authentication">Sign up</a>
      </li>

    </ul>
  </nav>
</div>
